---
import '../styles/pages/404.css';
import Layout from '../layouts/Layout.astro';
import { Home } from 'lucide-astro';
---

<Layout title="404 - Page Not Found" description="The page you're looking for doesn't exist.">
  <div class="not-found">
    <div class="nf-inner">
      <p class="nf-label">Error 404</p>
      <h1 class="nf-title">Page Not<br /><em>Found</em></h1>
      <p class="nf-desc">The page you're looking for doesn't exist or has been moved.</p>
      <a href="/" class="nf-btn">
        <Home class="w-4 h-4" />
        Back to Home
      </a>
    </div>
  </div>
</Layout>
