---
import '../styles/components/page-loader.css';
---

<div id="page-loader" class="loader-overlay">
  <div class="loader-inner">
    <div class="loader-line"></div>
    <span class="loader-text">Loading...</span>
  </div>
</div>

<script>
  import { initPageLoader } from '../scripts/page-loader';
  initPageLoader();
</script>
